@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{

    --verde01: #52cc69;
    --verde02: #209546;
    --verde03: #145125;
    --roxo01: #9c5ef2;
    --roxo02: #6b41a6;
    --roxo03: #553384;

    --neutro01: #f2f2f2;
    --neutro02: #bfbfbf;
    --neutro03: #7f7f7f;
    --neutro04: #404040;
    --neutro05: #131313;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    overflow-x: hidden;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    background-color: var(--roxo01);
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo{
    text-align: center;
}

.icones{
    position: absolute;
    right: 30px;
    display: flex;
    gap: 20px;
}

.icones a img{
    height: 25px;
}

.icone-carrinho {
    position: relative;
}

.icone-carrinho::after{
	content: attr(data-contador);
    position: absolute;
    top: -5px;
    right: -5px;
    background: var(--verde02);
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    visibility: hidden;
}

.icone-carrinho[data-contador]:not([data-contador="0"])::after {
    visibility: visible;
}

#logo{
    height: 55px;
}

main{
    flex: 1;
}

#escrita-carrinho{
    display: flex;
    justify-content: space-between;
    margin: 40px 20%;
}

#escrita-carrinho p{
    display: flex;
    font-size: 35px;
    font-weight: 700;
    color: var(--roxo03);
}

#escrita-carrinho p img{
    height: 45px;
    margin-right: 20px;
}

.carrinho{
    background-color: var(--neutro01);
    width: 60%;
    margin: 5px auto;
    border-radius: 10px;
    box-shadow: 1px 3px 6px rgba(26, 26, 26, 0.15);
}

.cabecalho{
    display: flex;
    height: 35px;
    border-radius: 10px 10px 0px 0px;
    padding: 5px 5px 5px 20px;
    background-color: var(--neutro02);
    justify-content: space-evenly;
}

.cabecalho p{
    font-size: 18px;
    font-weight: 600;
    color: var(--neutro04);
}

.detalhamento{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 5px 5px 20px;
    border-bottom: 2px solid var(--neutro02);
}

.detalhamento:last-child{
    border: none;
}

.detalhamento p{
    color: var(--neutro05);
    font-weight: 500;
    font-size: 18px;
}

.detalhamento img{
    border-radius: 10px;
    height: 120px;
    aspect-ratio: 4/3;
    object-fit: cover;
}

.img-nome{
    display: flex;
    align-items: center;
    gap: 15px;
}

.id-pedido{
    flex: 2;
}

.produto{
    flex: 5;
}

.valor{
    flex: 2;
}

.excluir{
    flex: 2;
    display: flex;
    justify-content: end;
    margin-right: 10%;
}

.botao-excluir{
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-excluir img{
    height: 30px;
    object-fit: contain;
}

.botao-excluir img:hover{
    transform: scale(105%);
}

.excluir button{
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.container-carrinho {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

#div-valor-total{
    font-size: 20px;
    margin: 5px 21%;
    font-weight: 600;
}

#div-valor-total p{
    font-weight: 500;
}

#valor-total{
    font-size: 25px;
    margin-left: 6px;
    font-weight: 600;
}

#finalizar-pedido{
    margin: -6px 21%;
    height: 40px;
    width: 200px;
    border: none;
    border-radius: 7px;
    background-color: var(--verde02);
    color: var(--neutro01);
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    text-decoration: none;
}

#finalizar-pedido img{
    height: 22px;
}

#finalizar-pedido:hover{
	background-color: var(--verde03);
}