@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{

    --verde01: #52cc69;
    --verde02: #209546;
    --verde03: #145125;
    --roxo01: #9c5ef2;
    --roxo02: #6b41a6;
    --roxo03: #553384;

    --neutro01: #f2f2f2;
    --neutro02: #bfbfbf;
    --neutro03: #7f7f7f;
    --neutro04: #404040;
    --neutro05: #131313;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    overflow-x: hidden;
}

body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header{
    background-color: var(--roxo01);
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo{
    text-align: center;
}

.icones{
    position: absolute;
    right: 30px;
    display: flex;
    gap: 20px;
}

.icones a img{
    height: 25px;
}
.icone-carrinho {
    position: relative;
}

.icone-carrinho::after{
	content: attr(data-contador);
    position: absolute;
    top: -5px;
    right: -5px;
    background: var(--verde02);
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    visibility: hidden;
}

.icone-carrinho[data-contador]:not([data-contador="0"])::after {
    visibility: visible;
}

#logo{
    height: 55px;
}

main{
    flex: 1;
}

#categorias{
    display: flex;
    justify-content: space-around;
    background-color: var(--verde01);
    padding: 5px 10px;
    line-height: auto;
}

#categorias > a{
    color: var(--verde03);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}

#categorias > a:hover{
    color: var(--verde02);
}

.cab-main{
    display: flex;
    justify-content: space-between;
    margin: 20px 80px;
}

#buscar{
    display: flex;
    align-items: center;
}

#botao-buscar{
    background-color: var(--neutro04);
    color: white;
    padding: 5px;
    width: 80px;
    height: 33px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

#botao-buscar:hover{
    background-color: var(--neutro05);
}

#input-buscar{
    background-color: var(--neutro02);
    color: var(--neutro04);
    font-weight: bold;
    font-size: 16px;
    padding: 5px 12px;
    width: 180px;
    height: 32px;
    border-radius: 8px;
    border: none;
}

.conteudo{
    margin: 10px 80px;
}

#categoria-produtos{
    display: flex;
    font-size: 35px;
    font-weight: 700;
    color: var(--roxo03);
}

#categoria-produtos img{
    height: 45px;
    margin-right: 20px;
}

.produtos{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.topicos{
    flex: 1;
    color: var(--neutro04);
    margin-right: 40px;
}

.topicos a{
    text-decoration: none;
    color: var(--neutro04);
}
.categ{
    margin-bottom: 3px;
    font-size: 20px;
    font-weight: 700;
}

.categ:hover{
    font-size: 21px;
    color: var(--roxo02);
}

.sub{
    font-weight: 500;
    font-size: 18px
}
.sub:hover{
    color: var(--roxo02);
    font-size: 20px;
    cursor: pointer;
}

.cards-produtos{
    flex: 6;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 40px;
}

.card-produto{
	background-color: var(--neutro01);
	height: 370px;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
	cursor: pointer;
}

.card-produto > img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}

.card-produto:hover{
    transform: scale(103%);
}

.nome-preco{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

#nome-produto{
    font-size: 16.5px;
    font-weight: 600;
    color: var(--neutro05);
	margin-bottom: 5px;
}

#preco{
    font-size: 17px;
    font-weight: 500;
    color: var(--verde03);
}

.botoes{
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: -5px;
}

.botoes button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
}

.add-carrinho{
    background-color: var(--roxo03);
    cursor: pointer;
}

.add-carrinho img{
    height: 22px;
}

.favoritar{
    background-color: var(--roxo01);
    cursor: pointer;
}

.favoritar img {
	width: 28px;
    transition: filter 0.3s ease;
}

.desfavoritar{
    background-color: var(--neutro03);
    cursor: pointer;
}

.desfavoritar img{
    width: 28px;
	filter: none;
	transition: filter 0.3s ease;
}

.add-carrinho:hover{
    background-color: var(--roxo02);
}

.desfavoritar:hover{
    background-color: var(--neutro04);
}

.add-carrinho:hover{
    background-color: var(--roxo02);
}

.favoritar:hover{
    background-color: var(--roxo02);
}

footer{
    background-color: var(--roxo01);
    color: var(--neutro01);
    margin-top: 25px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 18px;
}
footer img{
    height: 40px;
    margin-bottom: 10px;
}
footer p{
    margin-top: 10px;
}
footer a{
    text-decoration: none;
    color: var(--neutro01);
}

footer a:hover{
    color: var(--roxo03);
    font-size: 20px;
}

#endereco{
    margin-bottom: 5px;
}

.redes-sociais img{
    margin-top: 5px;
    height: 30px;
    margin-right: 5px;
}

.redes-sociais img:hover{
    transform: scale(115%);
}