@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root{

    --verde01: #52cc69;
    --verde02: #209546;
    --verde03: #145125;
    --roxo01: #9c5ef2;
    --roxo02: #6b41a6;
    --roxo03: #553384;

    --neutro01: #f2f2f2;
    --neutro02: #bfbfbf;
    --neutro03: #7f7f7f;
    --neutro04: #404040;
    --neutro05: #131313;
}

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    overflow-x: hidden;
}

body{
    display: flex;
    flex-direction: column;
}

header{
    background-color: var(--roxo01);
    color: white;
    padding: 10px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.logo{
    text-align: center;
}

.icones{
    position: absolute;
    right: 30px;
    display: flex;
    gap: 20px;
}

.icones a img{
    height: 25px;
}

.icone-carrinho {
    position: relative;
}

.icone-carrinho::after{
	content: attr(data-contador);
    position: absolute;
    top: -5px;
    right: -5px;
    background: var(--verde02);
    color: white;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    visibility: hidden;
}

.icone-carrinho[data-contador]:not([data-contador="0"])::after {
    visibility: visible;
}

#logo{
    height: 55px;
}

main{
    flex: 1;
    margin: 2%;
}

.ola h1{
    font-weight: 700;
    font-size: 40px;
    color: var(--roxo03);
    font-variant: small-caps;
}

.ola h1 span{
	font-weight: 700;
}

.conteudo{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.topicos{
    flex: 1;
}

.produtos{
    flex: 6;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 40px;
}

.card-favorito{
	background-color: var(--neutro01);
	height: 380px;
	padding: 15px;
	border-radius: 10px;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
	cursor: pointer;
}

.card-favorito > img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 10px;
}

.card-favorito:hover{
    transform: scale(103%);
}

.nome-preco{
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

#nome-produto{
    font-size: 16.5px;
    font-weight: 600;
    color: var(--neutro05);
	margin-bottom: 5px;
}

#preco{
    font-size: 17px;
    font-weight: 500;
    color: var(--verde03);
}

.botoes{
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: -7%;
}

.botoes button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 50%;
}

.add-carrinho{
    background-color: var(--roxo03);
    cursor: pointer;
}

.add-carrinho img{
    height: 22px;
}

.desfavoritar{
    background-color: var(--neutro03);
    cursor: pointer;
}

.desfavoritar img{
    width: 28px;
	filter: none;
	transition: filter 0.3s ease;
}

.add-carrinho:hover{
    background-color: var(--roxo02);
}

.desfavoritar:hover{
    background-color: var(--neutro04);
}

.favoritar{
    background-color: var(--roxo01);
    cursor: pointer;
}

.favoritar img {
	width: 28px;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.secoes{
    margin-bottom: 10px;
}

.secoes a:hover{
    font-size: 19px;
    color: var(--neutro05);
    text-decoration: underline;
}

.secoes a{
    text-decoration: none;
    color: var(--neutro04);
    font-weight: 600;
    font-size: 18px;
}
.atual a{
    text-decoration: none;
    color: var(--roxo03);
    font-weight: 600;
    font-size: 20px;
}