<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="shortcut icon" href="/imagens/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
    <title>Bichó | Página Inicial</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/imagens/logo-completo-03.png" alt="Logo Bichó" id="logo">
        </div>
        <div class="icones">
			<a href="/"><img src="/imagens/home.png" alt="Home"></a>
			<a href="/carrinho" class="icone-carrinho"><img src="/imagens/cart.png" alt="Carrinho"></a>
			<a th:href="${logado ? '/area-cliente' : '/login'}"><img src="/imagens/user.png" alt="Conta"></a>
        </div>
    </header>
    <main>
        <div id="categorias">
            <a href="/cachorro/1">Cachorro</a>
            <a href="/gato/2">Gato</a>
            <a href="/outros/3">Outros</a>
            <a href="https://forms.gle/L6kxbW3JG1Q1iVXT7" target="_blank">Vender</a>
        </div>

        <div id="buscar">
            <input type="text" placeholder="Buscar" id="input-buscar">
            <button id="botao-buscar"> Buscar</button>
        </div>

        <div class="carrossel">
            <input type="radio" name="imagens" id="i1" checked>
            <input type="radio" name="imagens" id="i2">
            <input type="radio" name="imagens" id="i3">
            <input type="radio" name="imagens" id="i4">

            <div class="carrossel-img" id="img1">
                <img src="/imagens/carrossel-1.jpg" alt="Bem-vindo">
                <label for="i4" class="pre"></label>
                <label for="i2" class="next"></label>
            </div>
            <div class="carrossel-img" id="img2">
                <img src="/imagens/carrossel-2.jpg" alt="Planeta">
                <label for="i1" class="pre"></label>
                <label for="i3" class="next"></label>
            </div>
            <div class="carrossel-img" id="img3">
                <img src="/imagens/carrossel-3.jpg" alt="Banner 3">
                <label for="i2" class="pre"></label>
                <label for="i4" class="next"></label>
            </div>
            <div class="carrossel-img" id="img4">
                <img src="/imagens/carrossel-4.jpg" alt="Por vocês">
                <label for="i3" class="pre"></label>
                <label for="i1" class="next"></label>
            </div>

            <div class="carrossel-nav">
                <label class="botao-carrossel" id="bt1" for="i1"></label>
                <label class="botao-carrossel" id="bt2" for="i2"></label>
                <label class="botao-carrossel" id="bt3" for="i3"></label>
                <label class="botao-carrossel" id="bt4" for="i4"></label>
            </div>
        </div>

        <div class="container">
			<div class="novidades">
				<p class="categoria">Novidades</p>
						<div class="cards-produtos">
							<div class="card-produto" th:each="produto : ${produtos}" th:onclick="|window.location.href='/produto/' + ${produto.id}|">
								<img th:src="@{'/imagens/produtos/' + ${produto.imagem}}" th:alt="${produto.nome}">
								<div class="descricao">
									<div class="nome-preco">
										<p id="nome-produto" th:text="${produto.nome}"></p>
										<p id="preco" th:text="${produto.precoFormatado}"></p>
									</div>
									<div class="botoes">
										<button class="add-carrinho" th:data-produto-id="${produto.id}">
											<img src="/imagens/cart-plus-w.png" alt="Adicionar ao carrinho">
										</button>
										<button class="favoritar" th:data-produto-id="${produto.id}">
											<img src="/imagens/favorite.png" alt="Favoritar">
										</button>
									</div>
								</div>
							</div>
						</div>
			</div>
			<div class="cachorro">
				<p class="categoria">Cachorro</p>
						<div class="cards-produtos">
							<div class="card-produto" th:each="produto : ${produtosCachorro}" th:onclick="|window.location.href='/produto/' + ${produto.id}|">
								<img th:src="@{'/imagens/produtos/' + ${produto.imagem}}" th:alt="${produto.nome}">
								<div class="descricao">
									<div class="nome-preco">
										<p id="nome-produto" th:text="${produto.nome}"></p>
										<p id="preco" th:text="${produto.precoFormatado}"></p>
									</div>
									<div class="botoes">
										<button class="add-carrinho" th:data-produto-id="${produto.id}">
											<img src="/imagens/cart-plus-w.png" alt="Adicionar ao carrinho">
										</button>
										<button class="favoritar" th:data-produto-id="${produto.id}">
											<img src="/imagens/favorite.png" alt="Favoritar">
										</button>
									</div>
								</div>
							</div>
						</div>
			</div>
			
					<div class="cachorro">
						<p class="categoria">Gato</p>
						<div class="cards-produtos">
							<div class="card-produto" th:each="produto : ${produtosGato}" th:onclick="|window.location.href='/produto/' + ${produto.id}|">
								<img th:src="@{'/imagens/produtos/' + ${produto.imagem}}" th:alt="${produto.nome}">
								<div class="descricao">
									<div class="nome-preco">
										<p id="nome-produto" th:text="${produto.nome}"></p>
										<p id="preco" th:text="${produto.precoFormatado}"></p>
									</div>
									<div class="botoes">
										<button class="add-carrinho" th:data-produto-id="${produto.id}">
											<img src="/imagens/cart-plus-w.png" alt="Adicionar ao carrinho">
										</button>
										<button class="favoritar" th:data-produto-id="${produto.id}">
											<img src="/imagens/favorite.png" alt="Favoritar">
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="outros">
						<p class="categoria">Outros</p>
						<div class="cards-produtos">
							<div class="card-produto" th:each="produto : ${produtosOutros}" th:onclick="|window.location.href='/produto/' + ${produto.id}|">
								<img th:src="@{'/imagens/produtos/' + ${produto.imagem}}" th:alt="${produto.nome}">
								<div class="descricao">
									<div class="nome-preco">
										<p id="nome-produto" th:text="${produto.nome}"></p>
										<p id="preco" th:text="${produto.precoFormatado}"></p>
									</div>
									<div class="botoes">
										<button class="add-carrinho" th:data-produto-id="${produto.id}">
											<img src="/imagens/cart-plus-w.png" alt="Adicionar ao carrinho">
										</button>
										<button class="favoritar" th:data-produto-id="${produto.id}">
											<img src="/imagens/favorite.png" alt="Favoritar">
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
		</div>
		
    </main>

    <footer>
        <div class="esq">
            <img src="/imagens/logo-completo-03.png" alt="Logo Bichó">
            <p><a href="/perguntas-frequentes">Perguntas frequentes</a></p>
            <p>Contato</p>
            <div class="redes-sociais">
                <a href="#"><img src="/imagens/icon-wpp.png" alt="WhatsApp"></a>
                <a href="#"><img src="/imagens/icon-insta.png" alt="Instagram"></a>
                <a href="#"><img src="/imagens/icon-mail.png" alt="E-mail"></a>
            </div>
        </div>
		<div class="dir">
		    <p id="endereco">Av. Protásio Alves, 8201</p>
		    <div class="mapa">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d863.467322081775!2d-51.130047930371234!3d-30.04060763747743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9519762f2d1e645f%3A0xc654d05e367366c4!2sAv.%20Prot%C3%A1sio%20Alves%20-%20Morro%20Santana%2C%20Porto%20Alegre%20-%20RS%2C%2091260-000!5e0!3m2!1spt-BR!2sbr!4v1732686268041!5m2!1spt-BR!2sbr" width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		    </div>
		</div>
    </footer>

	<script src="/js/produtos.js"></script>
	<script src="/js/buscar.js"></script>
	<script src="/js/carrinho.js"></script>
	<script src="/js/favoritos.js"></script>
	<script>
	    const changeCarouselImage = () => {
	        const radios = document.querySelectorAll('input[name="imagens"]'); 
	        let currentIndex = Array.from(radios).findIndex(radio => radio.checked);


	        radios[currentIndex].checked = false;
	        const nextIndex = (currentIndex + 1) % radios.length;
	        radios[nextIndex].checked = true;
	    };

	    setInterval(changeCarouselImage, 6000);
	</script>
</body>
</html>