<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/conta.css">
    <link rel="shortcut icon" href="/imagens/logo.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Bichó | Meu Endereço</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="/imagens/logo-completo-03.png" alt="Logo Bichó" id="logo">
        </div>
        <div class="icones">
			<a href="/"><img src="/imagens/home.png" alt="Home"></a>
			<a href="/carrinho" class="icone-carrinho"><img src="/imagens/cart.png" alt="Carrinho"></a>
			<a th:href="${logado ? '/area-cliente' : '/login'}"><img src="/imagens/user.png" alt="Conta"></a>
        </div>
    </header>
    <main>        
        <div class="ola">
            <h1>Olá <span th:text="${primeiroNome}"></span></h1>
        </div>

        <div class="conteudo">
            <div class="topicos">
                <p class="secoes"><a href="/pedidos">Pedidos</a></p>
                <p class="secoes"><a href="/vendas">Vendas</a></p>
                <p class="secoes"><a href="/conta">Conta</a></p>
                <p class="sub-endereco" id="atual"><a href="/conta/endereco">Endereço</a></p>
                <p class="secoes"><a href="/favoritos">Favoritos</a></p>
            </div>
            <div class="dados">
                <h1>Meu Endereço</h1>
                <form action="/conta/endereco" method="post" id="form-endereco">
                    <div class="input-conta">
                        <label for="cep">CEP</label> <br>
                        <input type="text" id="cep" name="cep" th:value="${usuario.cep}" oninput="mascaraCEP(this)" required>
                    </div>
                    <div class="input-dividido-3">
                        <div class="input-conta">
                            <label for="endereco">Endereço</label> <br>
                            <input type="text" id="endereco" name="endereco" th:value="${usuario.endereco}" required>
                        </div>
                        <div class="input-conta">
                            <label for="numero">Número</label> <br>
                            <input type="text" id="numero" name="endereco_numero" th:value="${usuario.endereco_numero}" required>
                        </div>
                    </div>
                    <div class="input-dividido-4">
                        <div class="input-conta">
                            <label for="estado">UF</label> <br>
                            <input type="text" id="estado" name="estado" th:value="${usuario.estado}" required>
                        </div>
						<div class="input-conta">
						    <label for="cidade">Cidade</label> <br>
						    <input type="text" id="cidade" name="cidade" th:value="${usuario.cidade}" required>
						</div>
						<div class="input-conta">
						    <label for="complemento">Complemento</label> <br>
						    <input type="text" id="complemento" name="endereco_complemento" th:value="${usuario.endereco_complemento}">
						</div>
                    </div>
					<div class="input-conta">
                        <label for="referencia">Ponto de Referência</label> <br>
                        <input type="text" id="referencia" name="ponto_referencia" th:value="${usuario.ponto_referencia}">
                    </div>
                    <button type="submit" id="botao-salvar" disabled>Salvar alterações</button>
                </form>
                <br>
            </div>
        </div>
    </main>
	
	<script src="/js/cadastro-endereco.js"></script>
	<script src="/js/carrinho.js"></script>
</body>
</html>